<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="SQLPackagePath" value="C:\Program Files\Microsoft SQL Server\150\DAC\bin\"/>
    <add key="SourceDbArgs" value="/a:Extract /scs:Server=zdns_archive01.clv05.evc;Database=ArchiveDBSet_0; /tf:C:\\a\\db\\source.dacpac"/>
    <add key="TargetDbArgs" value="/a:Extract /scs:Server=zdns_archive01.clv05.evc;Database=ArchiveDBSet_1; /tf:C:\\a\\db\\target.dacpac"/>
    <!--<add key="DeltaCommandArgs" value="/a:Script /sf:C:\\a\\db\\baseline.dacpac /tf:C:\\a\\db\\baseline2.dacpac /tdn:aspTargetdb /op:C:\\a\\db\\AspDbUpdate.sql"/>-->
    <add key="DeltaCommandArgs" value="/a:Script /sf:C:\\a\\db\\source.dacpac /tf:C:\\a\\db\\target.dacpac /tdn:aspTargetdb /op:C:\\a\\db\\AspDbUpdate.sql"/>
    <add key="OutputFilePath" value="C:\\a\\db\\AspDbUpdate.sql"/>

    <add key="SMTPServerAddress" value="zdns_AUX01" />
    <add key="SMTPServerPort" value="25055" />
    <add key="From" value="sender@veritas.com" />
    <add key="To" value="prasad.bhalerao@veritas.com" />
    <add key="Subject" value="Database comparison result on - " />
  </appSettings>
</configuration>